# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# Unity
*.csproj
*/*csproj
*.sln
*.vcproject
*.pidb
*.csproj
*.exe

# Mac
.DS_Store
*.DS_Store
**/.DS_Store
**/**/.DS_Store

# Git Conflicts
*.BASE
*.MINE
*.OTHER

# monodevelop project files
Assessment/Library
Assessment/Temp
Assessment/Assembly-CSharp-Editor-vs.csproj
Assessment/Assembly-CSharp-Editor.csproj
Assessment/Assembly-CSharp-firstpass-vs.csproj
Assessment/Assembly-CSharp-firstpass.pidb
Assessment/Assembly-CSharp-vs.csproj
Assessment/Assembly-CSharp.csproj
Assessment/Assembly-CSharp.pidb
Assessment/Assembly-UnityScript.pidb
Assessment/assembly-csharp-firstpass.csproj
Assessment/assembly-unityscript-vs.unityproj
Assessment/assembly-unityscript.unityproj
Assessment/Assembly-UnityScript-Editor-firstpass-vs.unityproj
Assessment/Assembly-UnityScript-Editor-firstpass.unityproj
Assessment/Assembly-UnityScript-firstpass-vs.unityproj
Assessment/Assembly-UnityScript-firstpass.unityproj
Assessment/Assembly-UnityScript-vs.unityproj
Assessment/Assembly-UnityScript.unityproj
Assessment/unitysrc.userprefs
Assessment/Assembly-Boo-vs.booproj
Assessment/Assembly-Boo.booproj

.DS_Store

*.userprefs

CharmItems_Assessment.zip

CharmItems_Assessment/CharmItems_Assessment.html

CharmItems_Assessment/CharmItems_Assessment.unity3d

CharmItems_Assessment/UnityObject2.js

CharmItems_Assessment/jquery.min.js
